* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.form-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 129px);
}

main {
    flex: 1;
}

.flash {
    color: #ee6f57;
    text-align: center;
}

.hero-text {
    padding-top: 90px;
}

.border-top {
    padding-top: 15px;
}

.border-bottom {
    padding-bottom: 15px;
}

.chart-container {
    width: 80%;
    margin: 30px auto;
    min-height: 300px;
}

.container {
    margin-bottom: 36px;
}

#imageCarousel {
    max-height: 700px; /* Adjust this value as needed */
    overflow: hidden;
}

#imageCarousel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.candidate-card {
    text-align: center;
}

.candidate-card img {
    width: 250px;
    height: 350px;
    /* border-radius: 50%; */
    margin-bottom: 10px;
}

.candidate-card label {
    font-weight: bold;
    display: block;
}

.fullscreen-image {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 24px;
}

footer {
    background-color: #121010;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
}

i {
    background-color: #ffffff;
    color: #ffffff;
}

.text-body-secondary {
    color: #ffffff !important;
}

.my-4 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pb-3 {
    padding-top: 0 !important;
    padding-bottom:  0 !important;
}

#info-text {
    font-size: 0.7rem;
}

.footer-line {
    width: 50%; /* Adjust this to control the line's width */
    height: 1px; /* Line thickness */
    background-color: #ffffff; /* Line color */
    margin: 0 auto; /* Center the line */
    opacity: 0.6; /* Optional: Adjust transparency */
}

/* .social-links {
    margin-bottom: 1rem;
} */

#logout {
    color: #CD1818;
}

#election {
    font-family: 'Rosmatika', sans-serif;
    font-weight: 400;
}

#election-info {
    font-size: 1rem;
}

#intro {
    font-size: 1rem;
}

#head, #chairman {
    margin: 18px 0;
    font-family: 'Rosmatika', sans-serif;
}

.copyright {
    margin-top: 1rem;
    font-size: 0.9rem;
    opacity: 0.8; /* Optional: Adjust text visibility */
}

/* Custom alert CSS */