{% extends "base.html" %} {% block title %}BAES{% endblock %} {% block content
%}

<div class="image-container">
  <div class="container image-container">
    <div>
      <img
        src="{{ url_for('static', filename='assets/img/thanksforvoting.png') }}"
        alt="thanks-for-voting"
        class="fullscreen-image"
      />
    </div>
    <div class="mb-4 text-center">
      <p>
        Your response has been recorded! You can view the
        <a href="{{ url_for('home') }}">Live Poll</a> while the election
        concludes
      </p>
    </div>
  </div>

  {% endblock %}
</div>
