{% from "bootstrap5/form.html" import render_form %} {% extends "base.html" %}
{% block title %}Vote{% endblock %} {% block content %}

<div class="container py-5">
  <div class="mb-6 text-left" id="info-text">
    <h5><em>Welcome, {{ user.surname }}</em></h5>
  </div>
  <div class="container py-5">
    <!-- Display User Info -->
    <form action="{{ url_for('vote') }}" method="post" id="voteForm">
      <!-- For CSRF Token -->
      {{ form.hidden_tag() }}
      <!-- Candidates -->
      <div class="row justify-content-center">
        <!-- Head Candidates -->
        <div class="mb-4 text-center" id="head">
          <h1><b>Senate Head</b></h1>
        </div>
        {% for candidate in head_candidates %}
        <div class="col-md-3 candidate-card">
          <img
            src="{{ url_for('static', filename=candidate.image) }}"
            alt="Candidate {{ candidate.id }}"
          />
          <label>{{ candidate.name }}</label>
          <p>
            {{ "MCT" if candidate.department == "Mechatronics Engineering" else
            "EEE" }}, {{ candidate.level }} Level
          </p>
          <input
            type="checkbox"
            name="head_candidate"
            value="{{ candidate.id }}"
            onclick="toggleSelection(this, 'head_candidate')"
            required
          />
          <p>Vote</p>
        </div>
        {% endfor %}

        <!-- Chairman Candidates -->
        <div class="mb-4 text-center" id="chairman">
          <h1><b>Senate Chairman</b></h1>
        </div>
        {% for candidate in chairman_candidates %}
        <div class="col-md-3 candidate-card">
          <img
            src="{{ url_for('static', filename=candidate.image) }}"
            alt="Candidate {{ candidate.id }}"
          />
          <label>{{ candidate.name }}</label>
          <p>
            {{ "MCT" if candidate.department == "Mechatronics Engineering" else
            "EEE" }}, {{ candidate.level }} Level
          </p>
          <input
            type="checkbox"
            name="chairman_candidate"
            value="{{ candidate.id }}"
            onclick="toggleSelection(this, 'chairman_candidate')"
            required
          />
          <p>Vote</p>
        </div>
        {% endfor %}

        <!-- Submit Button -->
        <div class="text-center mt-4">
          <button
            type="button"
            class="btn btn-primary mt-3"
            id="submitVoteButton"
          >
            Submit Votes
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Confirmation Modal -->
<div
  class="modal fade"
  id="confirmationModal"
  tabindex="-1"
  aria-labelledby="confirmationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center">
      <div class="modal-header justify-content-center">
        <img
          src="{{ url_for('static', filename='assets/img/clipboard.png') }}"
          alt="Confirmation Icon"
          style="width: 50px"
        />
      </div>
      <div class="modal-body">
        <h5>Are you sure you want to submit?</h5>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <button type="button" id="confirmSubmit" class="btn btn-primary">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
